* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//  TOOLBAR

.search__container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: text;
}

.search__content {
  width: 240px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #65676B;
  border-radius: 30px;
  background-color: #F0F2F5;
}

.profile__picture img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navegation__button {
  padding: 8px;
  border-radius: 10px;
  color: #606266;
}

.navegation__button:hover {
  background-color: #F2F2F2;
  transition: 0.3s;
}

.action__button {
  width: 40px;
  height: 40px;
  background-color: #E4E6EB;
  border-radius: 50%;
}
